ul{
  list-style: none;
  display: flex;
}
h1{
  text-align: center;
}
li{
  margin: 15px;
}
body{
  background-color: antiquewhite;
}
#h{
  position: fixed;
  right: 750px;
}
.div_{
  margin-top: 0;
  width: 3210px;
}
.list_{
  text-align: center;
  margin-top: 50px;
}